.input{
    display: flex;
    justify-content: space-around;
}
.filter{
    justify-content: center;
    align-items: baseline;
}
.filter button{
    text-align: start;
    width: 140px;
}
.card{
    background-color: #5dc176;
}
@media screen and (max-width:576px) {
    .input{
        flex-direction: column;
        background-color: aqua;
    }
}